:root{
    --background-color: #cccccc;
    --place: #969696;
    --font-color:#00071d;
    --head-color:#753500;
    --shadow:#00001a;
    --black:#000000;
    /*
        box-shadow: 10px 10px 15px 0.5px var(--shadow);
    */
}

html{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.top{
    text-align: center;
}

.top>.photo{
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px 0.5px var(--shadow);
    width: 200px;
    height: 200px;
    left: 45%;
    position: absolute;
    text-align: center;
    border-radius: 5rem;
    transition: all 2s ease 0.2s;
}

.top>.photo:hover{
    box-shadow: 0px 0px 20px 3px var(--shadow);
    border-radius: 50%;
}

.top>h2{
    position: absolute;
    top: 250px;
    left: 47%;
    transition: all 1.5s ease 0.1s;
}

.top>h2:hover{
    animation: Show 1.5s ease 0.4s infinite normal both;
}

@keyframes Show{
    0%{
        color: red;
    }
    50%{
        color: black;
    }
    100%{
        color: var(--head-color);
    }
}

.center{
    position: absolute;
    top: 300px;
    left: 4%;
    text-align: center;
}

.CorseGroup{
    display: flex;
    gap: .5em;
}

.CorseGroup>.Corses>a{
    color: var(--font-color);
    text-decoration: none;
    transition: all .5s ease 0.2s;
}

.CorseGroup>.Corses>a:hover{
    color: rgb(0, 183, 255);
}

.Corses{
    display: inline-flex;
    background-color: rgb(0, 183, 255);
    width: 10em;
    height: 10em;
    border-radius: 1em;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: all 0.7s ease-in-out;
}

.Corses:hover{
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px 0.5px var(--shadow);
    color: rgb(0, 183, 255);
    cursor: pointer;
    width: 14em;
}

.bottom>h4{
    position: absolute;
    top: calc(350px *2.4);
    left: 46%;
}

.text{
    color: rgb(0, 183, 255);
    display: inline-flex;
}

.Show-Plans{
    color: var(--font-color);
    position: absolute;
    bottom: 30%;
    left: 47.5%;
    transition: all 0.7s ease;
    text-decoration: none;
}

.Show-Plans:hover{
    color: var(--place);
}

.Show-Plans:focus{
    color: var(--head-color);
}