:root{
    --background-color: #cccccc;
    --place: #969696;
    --font-color:#00071d;
    --head-color:#753500;
    --shadow:#00001a;
    --black:#000000;
    /*
        box-shadow: 10px 10px 15px 0.5px var(--shadow);
    */
}

html{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

a{
    color: var(--black);
    text-decoration: none;
    transition: all 0.4s ease-in-out 0.1s;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: var(--head-color);
}


.photo{
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px 0.5px var(--shadow);
    width: 200px;
    height: 200px;
    left: 45%;
    position: absolute;
    text-align: center;
    border-radius: 5rem;
    transition: all 2s ease 0.2s;
}

.photo:hover{
    box-shadow: 0px 0px 20px 3px var(--shadow);
    border-radius: 50%;
}

.center>h3{
    position: absolute;
    left: 45.5%;
    top: 250px;
    transition: all 0.5s ease 0.1s;
}

.center>h3:hover{
    animation: Show 1.5s ease 0.4s infinite normal both;
}


@keyframes Show{
    0%{
        color: red;
    }
    50%{
        color: black;
    }
    100%{
        color: var(--head-color);
    }
}


.Account{
    background-color: transparent;
    position: absolute;
    top: 35%;
    right: 45%;
    color: var(--black);
    text-align: center;
}

.about-The-platform{
    position:absolute;
    top: 55%;
    text-align: center;
    left: 41%;
}
