:root{
    --background-color: #cccccc;
    --place: #969696;
    --font-color:#00071d;
    --head-color:#753500;
    --shadow:#00001a;
    --black:#000000;
    /*
        box-shadow: 10px 10px 15px 0.5px var(--shadow);
    */
}

html{
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.top{
    text-align: center;
}

.top>.photo{
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px 0.5px var(--shadow);
    width: 200px;
    height: 200px;
    left: 45%;
    position: absolute;
    text-align: center;
    border-radius: 5rem;
    transition: all 2s ease 0.2s;
}

.top>.photo:hover{
    box-shadow: 0px 0px 20px 3px var(--shadow);
    border-radius: 50%;
}

.top>h2{
    position: absolute;
    top: 250px;
    left: 47%;
    transition: all 1.5s ease 0.1s;
}

.top>h2:hover{
    animation: Show 1.5s ease 0.4s infinite normal both;
}

.bottom>h4{
    
    position: absolute;
    top: calc(350px *2.4);
    left: 45%;
    top: 150%;
}

.plans-s{
    top: 350px;
    border-radius: 3rem;
    position: absolute;
    width: 320px;
    height: 380px;
    font-size: 15px;
    background-color: var(--background-color);
    box-shadow: 0px 10px 15px 0.5px var(--shadow);
    text-align: center;
    transition: all 0.7s ease;
}

.plans-s>h4{
    color: var(--background-color);
    transition: all 0.7 ease-in-out;
}
.plans1{
    left: 40px;
}
.plans2{
    left: 400px;
}
.plans3{
    left: 750px;
}
.plans4{
    top: 800px;
    left: 40px;
}
.plans5{
    top: 800px;
    left: 400px;
}
.plans6{
    top: 800px;
    left: 750px;
}

.plans-s:hover{
    background-color: var(--place);
    width: 330px;
    border-radius: 4rem;
}